<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connShop" connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=SportShop;Integrated Security=True;Connect Timeout=2"/>
  </connectionStrings>
</configuration>